# User-specific files
*.suo
*.user
*.db
*.opendb
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
*_log.html

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
Engine/
Example/
Screenshot/

# Visual Studio 2015 cache/options directory
.vs/